
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="\stylesheets\userfrom.css">
  
</head>
<body>
  <h3>register user</h3>
  <form action="/create" method="post" class="form-container">
   <input type="text"placeholder="Enter your name"  name="username"  class="input1" required>
   <br>
   <input type="email" placeholder="Enter you Email" name="email"  class="input1" required>
   <br>
   <input type="number" placeholder="Enter your phone" name="phone"  class="input1" required>
   <br>
   <input type="String" placeholder="Course" name="Course"  class="input1" required>
   <input type="string" name="img"  placeholder="Enter url of image" >
   <br>

   <input type="password" id="pwd" name="pwd" placeholder="Create new password" required>
  <br>
   <input type="submit" value="Submit" style="padding: 10px;" id="submit" >
   <input type="reset">
  </form>
</body>
</html>